nav {
    background-color:darkblue;
    padding: 1em;
}

nav a {
    color:white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}
    main img {
        width: 150px;
        height: auto;
        border: 0;
        padding: 0;
        box-shadow: 0;
        
    }


    h1 {
    color: darkblue;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 0;
    box-shadow: 0 0 30px gray;
}

footer { 
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
    padding: 10px;
}
